<div class="main-container">
  <div class="inner-main-container">
    <h1>About Us</h1>
    <p>
      Visitdr.in is an appointment scheduling application where we assist you in
      getting a confirmed appointment with a doctor by making online payment.
      You select your convenient time and date based on the availability of the
      Doctor, make payment and get rest assured about the visit to the doctor.
      In case you are unavailable on the appointed date for any reason, a
      rescheduling can also be done based on the doctor's availability.
    </p>
    <p>
        Visitdr.in is an appointment scheduling application where we assist you in
        getting a confirmed appointment with a doctor by making online payment.
        You select your convenient time and date based on the availability of the
        Doctor, make payment and get rest assured about the visit to the doctor.
        In case you are unavailable on the appointed date for any reason, a
        rescheduling can also be done based on the doctor's availability.
      </p>
  </div>

  <div class="right-main-container">
    <img src="../images/heart.png" alt="IMG">
  </div>
</div>
