.main-container{
    display: grid;
    width: 100vw;
    grid-template-columns: 170px 1fr  1fr 170px;
    grid-template-rows: 70px 1fr 30px;
    gap: 20px;
}

.left-main-container{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    min-width: 100px;
    min-height: 400px;
    border: 1px solid black;
    border-radius: 75px;
    
}

.ng-tns-c59-0 p-password p-component p-inputwrapper p-input-icon-right{
    width: 300px;
}

.right-main-container{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    border: 1px solid red;
    border-radius: 75px;
    
    

}

.left-flex ,  .right-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    padding: 20px;
    font-size: 20px;
}

button, input, p-password{
    width: 300px;
    padding: 10px;
    border-radius: 25px;

}


