<div class="main-container">
  <div class="left-main-container">
    <div class="left-flex">
      <div>Doctor Login</div>
      <br />

      <div>
        <div><label for="email">Username: </label></div>
        <input type="email" id="email" name="email" /><br />
        <!-- <small>Enter username</small> --><br />
      </div>

      <div>
        <div><label for="pwd">Password: </label></div>
        <input type="password" id="pwd" name="pwd" minlength="8" /><br />
        <small><a href="">Forget password ?</a></small> <br />
        <!-- <small>Enter password</small><br> -->
        <br />
      </div>

      <div>
        <div>
          <button
            pButton
            pRipple
            type="button"
            label="LOGIN"
            class="p-button-success"
          ></button>
        </div>
      </div>
      <div>
        <small>Don't have an account ? <a href="">Sign up</a></small>
      </div>
    </div>
  </div>

  <div class="right-main-container">
    <div class="right-flex">
      <div>Hospital Login</div>
      <br />

      <div>
        <div><label for="email">Username: </label></div>
        <input type="email" id="email" name="email" /><br />
        <!-- <small>Enter username</small> --><br />
      </div>

      <div>
        <div><label for="pwd">Password: </label></div>
        <input type="password" id="pwd" name="pwd" minlength="8" /><br />
        <small><a href="">Forget password ?</a></small> <br />
        <!-- <small>Enter password</small><br> -->
        <br />
      </div>

      <div>
        <button
          pButton
          pRipple
          type="button"
          label="LOGIN"
          class="p-button-success"
        >
        </button>
      </div>
      <div>
        <small>Don't have an account ? <a href="">Sign up</a></small>
      </div>
    </div>
  </div>
</div>
