<div class="main-container">
  <form (ngSubmit)="docLogin()">
    <div><h1>LOGIN</h1></div>
    <div class="field">
      <b><label for="username" class="block">Username</label></b>
      <br /><input
        id="username"
        type="username"
        aria-describedby="username1-help"
        pInputText
        [(ngModel)]="docLoginValues.username"
        name="username"
      />
      <!-- <br /><small id="username-help" class="p-error block"
        >Enter username.</small
      > -->
    </div>

    <div class="field">
      <b><label for="password" class="block">Password</label></b>
      <br /><input
        id="password"
        type="username"
        aria-describedby="password-help"
        pInputText
        [(ngModel)]="docLoginValues.password"
        name="password"
      />
      
      <br>
      <!-- <small id="password-help" class="p-error block"
        >Enter password.</small
      > -->
    </div>

    <br>
    <div>
      <div>
        <button
          pButton
          pRipple
          type="submit"
          label="LOGIN"
          class="p-button-success"
        ></button>
      </div>
    </div>
  </form>
  <div>
    <small>Don't have an account ? <a [routerLink]="['/register']">Sign up</a></small>
  </div>

  {{docLoginValues | json }}
</div>
