<div class="container">
  <div class="s-header">
    <div class="s-container">
      <div class="logo"><img src="/src/assets/img/small.jfif" alt="img fo"></div>
      <div class="nav" style="margin-right: 80px;"> 
          <ul id="menu">
            <li><button pButton pRipple type="button" label="HOME" class="p-button-text" ></button></li>
            <li><button pButton pRipple type="button" label="About Us" class="p-button-text"></button></li>
            <li><button pButton pRipple type="button" label="Contact Us" class="p-button-text" ></button></li>
            <li><button pButton pRipple type="button" label="Login" class="p-button-text" ></button></li>
          </ul>  
      </div>
      
    </div>
  </div>
</div>

<app-index-adate></app-index-adate>




<div class="footer">
  DOCTOR NEST <br>
  The Best for you. <br>
  
</div>


