<div class="main-container">
  <div class="s-header">
    <div class="s-main-container">
      <div class="logo"><img src="../assets/img/heart.png" alt="img fo" /></div>
      <div class="nav" style="margin-right: 80px">
        <ul id="menu">
          <li>
            <button
              pButton
              pRipple
              type="button"
              label="HOME"
              class="p-button-text"
              (click)="home()"
            ></button>
          </li>
          <li>
            <button
              pButton
              pRipple
              type="button"
              label="About Us"
              class="p-button-text"
              (click)="about()"
            ></button>
          </li>
          <li>
            <button
              pButton
              pRipple
              type="button"
              label="Contact Us"
              class="p-button-text"
              (click)="contact()"
            ></button>
          </li>
          <li>
            <button
              pButton
              pRipple
              type="button"
              label="Login"
              class="p-button-text"
              (click)="login()"
            ></button>
          </li>
          <li>
            <button
              pButton
              pRipple
              type="button"
              label="Register"
              class="p-button-text"
              (click)="register()"
            ></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footer">
  <p>
    DOCTOR NEST <br />
    The Best for you.
  </p>
  <div class="footer-logo">
    <i class="fa fa-facebook-official" aria-hidden="true"></i>
    <i class="fa fa-instagram" aria-hidden="true"></i>
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <i class="fa fa-youtube-play" aria-hidden="true"></i>
  </div>
</div>
