.main-container {
  display: grid;
  width: 100vw;
  height: 200px;
  align-items: center;
  box-sizing: border-box;
 background-color:#cee0dcff;
}

.flex-main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
}



.second-main-container{
    display: grid;
    width: 100vw;
    height: 400px;
    justify-items: center;
    box-sizing: border-box;
    background-color:#cee0dcff;
  

}

.varity{
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.cardiology{
  width: 110px;
  height: 120px;
}

img{
 box-sizing: border-box;
 width: 80%;
 height: 80%;
}