<div class="container">
  <div class="flex-container">
    <div class="text-container">Do you want to book an appointment ?</div>
    <br />
    <div>
      <div class="field col-12 md:col-4">
        <p-calendar  [showIcon]="true" inputId="icon"></p-calendar>
      </div>
    </div>
  </div>


</div>

<div class="second-container">
  <div>Our Services</div>
  <div class="varity">
  
    <div class="cardiology">
      <div><img src="/src/assets/img/heart.png" alt="cardiology"></div>
      <div>cardiology</div>
    </div>
    <div class="cardiology">
      <div><img src="/src/assets/cardiology.jpg" alt="cardiology"></div>
      <div>cardiology</div>
    </div>
    <div class="cardiology">
      <div><img src="/src/assets/cardiology.jpg" alt="cardiology"></div>
      <div>cardiology</div>
    </div>
    <div class="cardiology">
      <div><img src="/src/assets/cardiology.jpg" alt="cardiology"></div>
      <div>cardiology</div>
    </div>
    <div class="cardiology">
      <div><img src="/src/assets/cardiology.jpg" alt="cardiology"></div>
      <div>cardiology</div>
    </div>
    <div class="cardiology">
      <div><img src="/src/assets/cardiology.jpg" alt="cardiology"></div>
      <div>cardiology</div>
    </div>
  </div>
  <div class="varity">
  
    <div class="cardiology">
      <div><img src="/src/assets/img/heart.png" alt="cardiology"></div>
      <div>cardiology</div>
    </div>
    <div class="cardiology">
      <div><img src="/src/assets/cardiology.jpg" alt="cardiology"></div>
      <div>cardiology</div>
    </div>
    <div class="cardiology">
      <div><img src="/src/assets/cardiology.jpg" alt="cardiology"></div>
      <div>cardiology</div>
    </div>
    <div class="cardiology">
      <div><img src="/src/assets/cardiology.jpg" alt="cardiology"></div>
      <div>cardiology</div>
    </div>
    <div class="cardiology">
      <div><img src="/src/assets/img/heart.png" alt="cardiology"></div>
      <div>cardiology</div>
    </div>
    <div class="cardiology">
      <div><img src="/src/assets/cardiology.jpg" alt="cardiology"></div>
      <div>cardiology</div>
    </div>
  </div>
</div>
