.container {
  display: grid;
  width: 100vw;
  height: 200px;
  align-items: center;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
}



.second-container{
    display: grid;
    width: 100vw;
    height: 400px;
    justify-items: center;
    box-sizing: border-box;
  

}

.varity{
  display: flex;
  align-items: center;
  gap: 30px;
}

.cardiology{
  width: 110px;
  height: 120px;
  background-color: red;
}
