<div class="main-container">
  <div class="flex-main-container">
    <div class="text-main-container">Do you want to book an appointment ?</div>
    <br />
    <div>
      <div class="field col-12 md:col-4">
        <p-calendar  [showIcon]="true" inputId="icon"></p-calendar>
      </div>
    </div>
  </div>


</div>

<div class="second-main-container">
  <div><h1>Our Services</h1></div>
  <div class="varity">
  
    <div class="cardiology">
      <div><img src="../assets/img/tooth.png" alt="img fo" /></div>
      <div>Dentist</div>
    </div>
    <div class="cardiology">
      <div><img src="../assets/img/heart.png" alt="cardiology"></div>
      <div>Heart</div>
    </div>
    <div class="cardiology">
      <div><img src="../assets/img/kidney.png" alt="cardiology"></div>
      <div>Urologist</div>
    </div>
    <div class="cardiology">
      <div><img src="../assets/img/bone.png" alt="cardiology"></div>
      <div>Orthopaedics</div>
    </div>
    <div class="cardiology">
      <div><img src="../assets/img/general.png" alt="cardiology"></div>
      <div>General</div>
    </div>
    <div class="cardiology">
      <div><img src="../assets/img/stomach.png" alt="cardiology"></div>
      <div>Gastroenterologist</div>
    </div>
  </div>
  <div class="varity">
    <div class="cardiology">
      <div><img src="../assets/img/brain.png" alt="cardiology"></div>
      <div>Neurologist</div>
    </div>
    <div class="cardiology">
      <div><img src="../assets/img/liver.png" alt="cardiology"></div>
      <div>hepatologist</div>
    </div>
    <div class="cardiology">
      <div><img src="../assets/img/lungs.png" alt="cardiology"></div>
      <div>Pulmonologist</div>
    </div>
    <div class="cardiology">
      <div><img src="../assets/img/operation.png" alt="cardiology"></div>
      <div>Operation</div>
    </div>
    <div class="cardiology">
      <div><img src="../assets/img/skin.png" alt="cardiology"></div>
      <div>Dermatologist </div>
    </div>
    <div class="cardiology">
      <div><img src="../assets/img/cancer.png" alt="cardiology"></div>
      <div>Oncologist</div>
    </div>
  </div>
</div>
