<div class="main">
  <div class="reg">
    <form #registerForm="ngForm">

      {{ registerForm.value | json }}
      <br>
      {{ hospitalUser| json }}
      <!-- Radio buttons -->
      <table>
        <tr>
          <td>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                value="Doctor Signup" (click)="doctorFormSelection('Doctor Signup')" ngModel/>
              <label class="form-check-label" for="inlineRadio1">Doctor Signup</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                value="Hospital Signup" (click)="hospitalFormSelection('Hospital Signup')" ngModel/>
              <label class="form-check-label" for="inlineRadio2">Hospital Signup</label>
            </div>
          </td>
        </tr>
      </table>
      <br />

      <!-- Personal Info -->
      <table>
        <tr>
          <td>
            <div class="form-group">
             <label>Title: </label>
              <select class="custom-select mr-sm-2" id="inlineSalutation" name="Title" ngModel>
                <option selected>Choose...</option>
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Ms">Ms</option>
                <option value="Miss"></option>
              </select>
            </div>
          </td>
          <td>
            <div class="form-group col-md-10">
              <label for="inputFirstName">First Name</label>
              <input type="text" class="form-control" id="inputFName" placeholder="Ex: Ruturaj" name="firstName" ngModel />
            </div>
          </td>
          <td>
            <div class="form-group col-md-10">
              <label for="inputLast Name">Last Name</label>
              <input type="text" class="form-control" id="inputLName" placeholder="Ex: Ghodake"  name="lastName" ngModel/>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="form-group col-md-10">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Ex : john@gmail.com" name="email" ngModel />
            </div>
          </td>
          <td>
            <div class="form-group col-md-10">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Ex : Play@6655" name="password"  ngModel/>
            </div>
          </td>
          <td>
            <div class="form-group col-md-10">
              <label for="inputCPassword">Confirm Password</label>
              <input type="password" class="form-control" id="inputCPassword" placeholder="Ex : Play@6655" name="cPassword" ngModel />
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="form-group col-md-10">
              <label for="inputMobile">Mobile Number</label>
              <input type="text" class="form-control" id="inputMobile" placeholder="Ex : 9876543210" name="mobile" ngModel/>
            </div>
          </td>
          <td>
            <div class="form-group">
              <label for="inlineFormCustomSelect">Gender: </label>
              <select class="custom-select mr-sm-2" id="inlineIdGender" name="gender" ngModel>
                <option selected>Choose...</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </td>
          <td>
            <div class="form-group">
              Select Hospital Name:
              <select class="custom-select mr-sm-2" id="inlineGender" name="hospitalName" ngModel>
                <option selected>Choose...</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
              </select>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="form-group col-md-10">
              <label for="inputAddress1">Address Lane 1</label>
              <input type="text" class="form-control" id="inputAddress1" placeholder="Ex: 123 Street House" name="address1" ngModel/>
            </div>
          </td>
          <td>
            <div class="form-group col-md-10">
              <label for="inputAddress2">Address Lane 2</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Ex: Sambhaji Nagar" name="address2" ngModel/>
            </div>
          </td>
          <td>
            <div class="form-group col-md-10">
              <label for="inputAddress3">Address Lane 3</label>
              <input type="text" class="form-control" id="inputAddress3" placeholder="Ex: Savarkar road, Pune" name="address3"  ngModel/>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <label  for="inlineState">State</label>
              <select class="custom-select mr-sm-2" id="inlineState" name="state"  ngModel>
                <option selected>Choose...</option>
                <option value="1" selected>Maharashtra</option>
              </select>
            </div>  
          </td>
          <td>
            <div class="form-group">
              <label for="inlineDistrict">District: </label>
              <select class="custom-select mr-sm-2" id="inlineDistrict"  name="district"  ngModel>
                <option selected>Choose...</option>
                <option value="1" selected>Pune</option>
              </select>
            </div>
          </td>

          <td>
            <div class="form-group">
              <label for="inlineCity">City: </label>
              <select class="custom-select mr-sm-2" id="inlineCity">
                <option selected>Choose...</option>
                <option value="1" selected>Hinjewadi</option>
              </select>
            </div>
          </td>

        </tr>
      </table>

      <br />
      <!-- Doctor Info -->
      <ng-template [ngIf]="doctorForm">
      <table>
        <tr>
          <td>
            <div class="form-group">
              <label for="inlineSpecialist">Specialist in :</label>
              <select class="custom-select mr-sm-2" id="inlineSpecialist"  name="specialist"  ngModel>
                <option selected>Choose...</option>
                <option value="1">Gastro</option>
                <option value="2">Mrs.</option>
                <option value="3">Ms.</option>
                <option value="4">Miss.</option>
              </select>
            </div>
          </td>
          <td>
            <div class="form-group col-md-10">
              <label for="inputRegNo">Registration No</label>
              <input type="text" class="form-control" id="inputRegNo" placeholder="Ex: 12345" name="registeredNo" ngModel/>
            </div>
          </td>
          <td>
            <div class="form-group">
              <label for="inlineStateCouncil">State Medical Council: </label>
              <select class="custom-select mr-sm-2" id="inlineStateCouncil" name="statecouncil" ngModel >
                <option selected>Choose...</option>
                <option value="1">Mr.</option>
                <option value="2">Mrs.</option>
                <option value="3">Ms.</option>
                <option value="4">Miss.</option>
              </select>
            </div>
          </td>
        </tr>
      </table>
      <br />
      </ng-template>

      
      <!-- Hospital Info -->
      <ng-template [ngIf]="hospitalForm">
      <table>
        <tr>
          <td>
            <div class="form-group col-md-10">
              <label for="inputHName">Hospital Name</label>
              <input type="text" class="form-control" id="inputHName" placeholder="Ex: ACK Hospital"  name="newHospitalName" ngModel/>
            </div>
          </td>
          <td>
            <div class="form-group col-md-10">
              <label for="inputHAddress">Hospital Address</label>
              <input type="text" class="form-control" id="inputHAddress" placeholder="Ex: ACK road Pune"  name="newHospitalAddress" ngModel/>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group col-md-10">
              <label for="inputHEmail">Hospital Email</label>
              <input type="email" class="form-control" id="inputHEmail" placeholder="Ex: ack@gmail.com" name="newHospitalEmailId" ngModel/>
            </div>
          </td>
          <td>
            <div class="form-group col-md-10">
              <label for="inputHMob">Hospital Mobile/ Phone No </label>
              <input type="text" class="form-control" id="inputHMob" placeholder="Ex: 9876543322" name="newHospitalMobile" ngModel/>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group col-md-10">
              <label for="inputHRegNo">Hospital Registration No. </label>
              <input type="text" class="form-control" id="inputHRegNo" placeholder="Ex: Ruturaj" name="newHospitalRegNo" ngModel/>
            </div>
          </td>
        </tr>
      </table>
      <br />
    </ng-template>
     
      <!-- Capcha and Submit -->
      <table>
        <tr>
          <td>
            Capcha Code :
            <input type="text" />
            <input type="button" value="check" />
          </td>
        </tr>
        <tr>
          <td><input type="button" value="Submit"  (click)="allValues(registerForm)"/></td>
        </tr>
      </table>
    </form>
  </div>
</div>